DirectoryIndex django.wsgi

Options -Indexes

AddHandler wsgi-script .wsgi

ErrorDocument 403 /error404
ErrorDocument 500 /error505

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /django.wsgi/$1 [QSA,PT,L]

# Описание расположения статических файлов.
#    Alias "/admin-media/" "/usr/lib/pymodules/python2.6/django/contrib/admin/media/"
#    <Location "/admin-media/">
#        SetHandler None
#    </Location>

<FilesMatch "\.(py|py~)$">
   Order deny,allow
   deny from all
</FilesMatch>
<FilesMatch "^\.">
   Order deny,allow
   deny from all
</FilesMatch>
