DirectoryIndex django.wsgi

Options -Indexes

AddHandler wsgi-script .wsgi

ErrorDocument 403 /rimgid/templates/error404.html
ErrorDocument 500 /rimgid/templates/error505.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /django.wsgi/$1 [QSA,PT,L]

# Описание расположения статических файлов.
#    Alias "/admin-media/" "/usr/lib/pymodules/python2.6/django/contrib/admin/media/"
#    <Location "/admin-media/">
#        SetHandler None
#    </Location>

<FilesMatch "^site$">
   Order deny,allow
   deny from all
</FilesMatch>
