{% extends "base_with_ex.html" %}

{% block style %}
  #main {
    width5: 100%;
    left5: 0px;
    margin-left5: 0px;
    margin-right5: 0px;
  }
  #content-down {
    margin-left6: 10px;
    padding-left6; 10px;
  }
  #header-left, #header-right, #header {
    border-radius8: 0px;
    -moz-border-radius8: 0px;
    -webkit-border-radius8: 0px;
  }
  #header {
    margin-top5: 0px;
  }
  #list ul li a, #list ul li a:visited {
   border-radius5: 10px 0 0 10px;
    -moz-border-radius5: 10px 0 0 10px;  /* для firefox */
    -webkit-border-radius5: 10px 0 0 10px;  /* для Safari и Chrome */
  }
  #list ul li a:hover {
    width: 340px;
  }
  #footer {
    margin-bottom0: 0px;
    border-radius0: 0px;
    -moz-border-radius0: 0px;
    -webkit-border-radius0: 0px;
  }
  .abzac {
    float: left;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .abimg {
    float: left;
    width: 250px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  #content img { width: 100px; }
  #order_form {border-radius:10px;border:1px solid #363636;width:500px;display:inline-block;padding:20px;margin:20px;height:525px;overflow:hidden;background:#d7f3d7;}
  #order_form_pole {width:100%;float:left;text-align:center;}
  .ex_div {padding-left:10px;padding-right:10px;padding-bottom:20px;background:#999 url('/paper_yellow_alpha.png');border-radius:10px;color:#fff;}
{% endblock %}

{% block content_down %}
  <div class="ex_div bordered">
    <p><h1>Страница не найдена</h1>
        Извините, страница <b>{{ request_path }}</b> на сайте не найдена. Пожалуйста проверьте правильность ввода пути.
    </p>
  </div>
{% endblock %}
