<html>
  <head>
    <title>{{ mp.page_title }}</title>
      <meta NAME="KeyWords" CONTENT="{{ mp.page_keywords }}">
      <meta NAME="Description" CONTENT="{{ mp.page_description }}">
      <meta http-equiv="Content-Language" content="ru">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta content=document name=resourse-type><link href="/style.css" rel="stylesheet" type="text/css">
      <style>{% block style %}{% endblock %}</style>
  </head>

<body>
  <div id="main">
    <div id="header">
      <div id="header-left"></div>
      <div id="header-top"><h1>{{ mp.site_name }}</h1></div>
      <div id="header-right">
	<div style="background:url('2.png');width:260px;float:right;padding:5px;border-radius:10px;">
	  <p style="margin: 10px 10px 0;color:#fff;text-align:right;"><span style="font-weight:bold;">{{ mp.owner_phone_title }}:</span> {{ mp.owner_phone }}</p>
	  <p style="margin: 0 10px;color:#fff;text-align:right;"><span style="font-weight:bold;">Skype:</span> {{ mp.owner_skype }}</p>
	  <p style="margin: 0 10px;color:#fff;text-align:right;"><span style="font-weight:bold;">E-mail:</span> <a href="mailto:{{ mp.owner_email }}" style="color:#009900;font-size:20px;">{{ mp.owner_email }}</a></p>
	</div>
      </div>
    </div>
    <ul class="mainmenu">
      <li><a href="/">{{ mp.url_name_main }}</a></li>
      <li id="info_button"><a class="temp" href="#" onclick="second_info.style.visibility='visible';second_info.style.height='auto';info_button.style.height='40px';second_info.style.margin='10px 0 10px 0';" >{{ mp.url_name_info }}</a></li>
      <li><a href="/notes">{{ mp.url_name_notes }}</a></li>
    </ul>
    <ul class="mainmenu_2">
      <li><a href="/fotos">{{ mp.url_name_fotos }}</a></li>
      <li><a href="/reccomendations">{{ mp.url_name_reccomendations }}</a></li>
      <li><a href="/contacts">{{ mp.url_name_contacts }}</a></li>
    </ul>
    <ul id="second_info" class="second_info shadowed">
      <li><a href="/flights">{{ mp.url_name_flights }}</a></li>
      <li><a href="/transfer">{{ mp.url_name_transfer }}</a></li>
      <li><a href="/hotels">{{ mp.url_name_hotels }}</a></li>
      <li><a href="/restaurants">{{ mp.url_name_restaurants }}</a></li>
      <li><a href="/shops">{{ mp.url_name_shops }}</a></li>
      <li><a href="/transport">{{ mp.url_name_transport }}</a></li>
    </ul>
    <div id="base">
      <div id="content" align="justify">
	{% block content_up %}{% endblock %}
	{% block content_down %}{% endblock %}
      </div>
      {% block right %}{% endblock %}
    </div>
    {% block down %}{% endblock %}
    <div id="footer">
      <p>{{ mp.site_footer }}</p>
    </div>
    <a style="position:absolute;top:100px;right:50px;" href="http://vkontakte.ru/id2981077" Title="{{ mp.site_name }}" width=20px; height=20px;><img src="/vk.png" width="20px" height="20px"/> </a>
  </div>
  {% if mp.local.yandex_needed %}
  <!-- Yandex.Metrika counter -->
  <div style="display:none;"><script type="text/javascript">
  (function(w, c) {
      (w[c] = w[c] || []).push(function() {
	  try {
	      w.yaCounter11554360 = new Ya.Metrika({id:11554360, enableAll: true});
	  }
	  catch(e) { }
      });
  })(window, "yandex_metrika_callbacks");
  </script></div>
  <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
  <noscript><div><img src="//mc.yandex.ru/watch/11554360" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  {% endif %}
</body>
</html>
