<html>
  <head>
    <title>Русскоязычный индивидуальный гид по Риму и Италии. Экскурсии на русском языке в Риме в Италии русскоговорящий гид. rim-gid.com</title>
    <meta NAME="KeyWords" CONTENT="Русскоязычный индивидуальный гид по Риму и Италии. Экскурсии на русском языке в Риме в Италии русскоговорящий гид. rim-gid.com ">
    <meta NAME="Description" CONTENT="Офицальный сайт Ольги Новиковой - гида-переводчика в Риме">
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content=document name=resourse-type><link href="/style.css" rel="stylesheet" type="text/css">
    <style></style>
  </head>
<body>
  {% if excursion_list %}
    {% for excursion in excursion_list %}
      <p>{{ forloop.counter }}. {{ excursion.title }}
    {% endfor %}
  {% endif %}
</body>
</html>
