{% extends "base_with_ex.html" %}

{% block style %}
  #main {
    width: 100%;
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #content-down {
    margin-left: 10px;
    padding-left; 10px;
  }
  #header-left, #header-right, #header {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
  #header {
    margin-top: 0px;
  }
  #list ul li a, #list ul li a:visited {
   border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;  /* для firefox */
    -webkit-border-radius: 10px 0 0 10px;  /* для Safari и Chrome */
  }
  #list ul li a:hover {
    width: 340px;
  }
  #footer {
    margin-bottom: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
  .abzac {
    float: left;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .abimg {
    float: left;
    width: 250px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  #order_form {border-radius:10px;border:1px solid #363636;width:500px;display:inline-block;padding:20px;margin:20px;height:525px;overflow:hidden;background:#d7f3d7;}
  #order_form_pole {width:100%;float:left;text-align:center;}
{% endblock %}

{% block right10 %}
  {% if excursion_list %}
    <div id="list"><ul>
  {% for ex in excursion_list %}
      <li><a href="/excursion/{{ forloop.counter }}" style="background-image: url('/{{ ex.button_image }}');color:#fff;"><span style="background:#007700;margin-left:-5px;padding-left:10px;">{{ forloop.counter }}. {{ ex.title }}</span></a></li>
  {% endfor %}
    </ul></div>
  {% endif %}
{% endblock %}

{% block content_down %}
  <div style="padding-left:20px;padding-bottom:20px;">
  <p><h1>{{ excursion.title }}{% if excursion.title_time != '0' %} - {{ excursion.title_time }}{% endif %}</h1>
      {{ db_t }}
  </p>
    {% if excursion.map_address != "0" %}
    <iframe width="100%" height="700px" frameborder="1" scrolling="no" marginheight="10px" marginwidth="0" src="{{ excursion.map_address }}" style="color:#0000FF;text-align:left"></iframe><br /><small><a href="{{ excursion.map_address }}">Просмотреть увеличенную карту</a></small>
    {% endif %}

<div id="order_form_pole">
  <iframe id="order_form" src="/contact_form/{{ excursion.title }}/">
  </iframe>
</div>

<!--form id="orderform" method="post" action="" onsubmit="return orderExcursion('{{ excursion.title }}',mail.text,comment.text);" style="border-radius:10px;border:1px solid #363636;width:500px;display:inline-block;padding:20px;margin:20px;">
  {% csrf_token %}
  <p id="orderform_result">vfdv</p>
  <div>Для заказа этой экскурсии введите свой адрес электронной почты. На этот адрес я вышлю ответ.</div>
  <input style="width:460px;height:30px;border-radius:4px;border:1px solid #363636;margin:5px;padding:5px;" type="text" placeholder="адрес почты..." size="35" maxlength="50" name="mail" id="mail" /> 
  <input style="width:460px;height:30px;border-radius:4px;border:1px solid #363636;margin:5px;padding:5px;" type="text" placeholder="дата..."  size="35" maxlength="50" name="phone" id="phone" /> 
  <textarea id="comment" style="width:460px;height:200px;float2:left;border-radius:4px;border:1px solid #363636;margin:5px;padding:5px;" placeholder="комментарий к заказу..."></textarea>
  <input type="submit" id="ordersubmit" value="Заказать" />
  <script>
    /* Создание нового объекта XMLHttpRequest для общения с Web-сервером */
    var xmlHttp = false;
    /*@cc_on @*/
    /*@if (@_jscript_version >= 5)
    try {
      xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (e2) {
        xmlHttp = false;
      }
    }
    @end @*/
    if (!xmlHttp && typeof XMLHttpRequest != 'undefined') {
      xmlHttp = new XMLHttpRequest();
    }
    function orderExcursion(ex,mail_s,text) {
      var url = "/order_excursion/"+ex+"/"+mail_s+"/"+text+"/";
      xmlHttp.open("GET", url, true);
      xmlHttp.onreadystatechange = getOrderAnswer;
      xmlHttp.send(null);
      orderform_result.innerHTML = "Ждем ответа...";
      return true;
    }
    function getOrderAnswer() {
      if (xmlHttp.readyState == 4) {
        if (xmlHttp.responseText=="OK") {
          orderform_result.innerHTML = "ОК!";
        } else {
          orderform_result.innerHTML = "FALSE!";
        }
      }
    }
  </script>
</form-->


    <table border="0" width="100%" cellspacing="0" cellpadding="0" style="background-color: #007700; border-style: solid; border-width: 1px 0px 1px 0px; border-color: url(100, 100, 100);"><tr>
      <td width="2%">&nbsp;</td>
      <td align="center"><a href="/time" class=menu style="color:#fff;"><div class="menu_url">&nbsp; Назад &nbsp;</div></a></td>
      <td align="center" style="visibility:hidden;"><a href="" class=menu style="color:#fff;"><div class="menu_url">&nbsp; Заказать &nbsp;</div></a></td>
      <td align="center"><a href="" class=menu style="color:#fff;"><div class="menu_url">&nbsp; {{ excursion.cost }} &nbsp;</div></a></td>
      <td width="2%">&nbsp;</td>
      </tr>
    </table>
  </div>

  <div style="padding-left:20px;padding-bottom:20px;text-align:center;">
      
  </div>

{% endblock %}