{% extends "base.html" %}

{% block style %}
  #main {
    width: 100%;
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #content-down {
    margin-left: 10px;
    padding-left; 10px;
  }
  #header-left, #header-right, #header {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
  #header {
    margin-top: 0px;
  }
  #list ul li a, #list ul li a:visited {
   border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;  /* для firefox */
    -webkit-border-radius: 10px 0 0 10px;  /* для Safari и Chrome */
  }
  #list ul li a:hover {
    width: 340px;
  }
  #footer {
    margin-bottom: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }
{% endblock %}

{% block right %}
  {% if excursion_list %}
    <div id="list"><ul>
  {% for ex in excursion_list %}
      <li><a href="/excursion/{{ forloop.counter }}" style="background-image: url('/{{ ex.button_image }}');color:#fff;"><span style="background:#007700;margin-left:-5px;padding-left:10px;">{{ forloop.counter }}. {{ ex.title }}</span></a></li>
  {% endfor %}
    </ul></div>
  {% endif %}
{% endblock %}

{% block content_down %}
  <div style="padding-left:20px;padding-bottom:20px;">
  <p><h1>{{ excursion.title }} - {{ excursion.title_time }}</h1>
  {{ excursion.text_full }}</p>
    {% if excursion.map_address != "0" %}
    <iframe width="100%" height="700px" frameborder="1" scrolling="no" marginheight="10px" marginwidth="0" src="{{ excursion.map_address }}" style="color:#0000FF;text-align:left"></iframe><br /><small><a href="{{ excursion.map_address }}">Просмотреть увеличенную карту</a></small>
    {% endif %}
    <table border="0" width="100%" cellspacing="0" cellpadding="0" style="background-color: #d2dae0; border-style: solid; border-width: 1px 0px 1px 0px; border-color: url(100, 100, 100);"><tr>
      <td width="2%">&nbsp;</td>
      <td align="center"><a href="/time" class=menu><div class="menu_url">&nbsp; Назад &nbsp;</div></a></td>
      <td align="center" style="visibility:hidden;"><a href="" class=menu><div class="menu_url">&nbsp; Заказать &nbsp;</div></a></td>
      <td align="center"><a href="" class=menu><div class="menu_url">&nbsp; {{ excursion.cost }} &nbsp;</div></a></td>
      <td width="2%">&nbsp;</td>
      </tr>
    </table>
  </div>
{% endblock %}