{% extends "base_with_ex.html" %}

{% block content_down %}
<div style="color:aaa;margin-left:10px;"><a href="/">ГЛАВНАЯ</a> > Италия</div>
{% if notes_list %}
  {% for note in notes_list %}
    {% if forloop.counter > 3 %}
      {% if forloop.counter < 12 %}
    <div id="content-down" align="justify" style="width:640px;">  
      <img src="{{ note.image }}" width="150px" align="left" vspace="5" style="margin-top:24px;margin-right:10px;"/>
      <h1>{{ note.title }}</h1><div class="note_place"></div>
      {{ note.text }}
    </div>
      {% endif %}
    {% endif %}
  {% endfor %}  
{% else %}    
    <div id="content-down" align="justify" style="width:640px;">
      Пока нет ни одной заметки...
    </div>
{% endif %}

{% endblock %}