{% extends "base_with_ex.html" %}

{% block content_up %}
<div id="content-up" align="justify" style="margin-top=-10px;border='solid 10px #333';">
  <div id="olga_info" style="margin-top:-15px;">
    <div class="foto_with_podpis"><div class="rounded_up" style="background:url('/olga.png');width:200px;height:220px;margin-top=10px;"></div><div class="podpis" style="width:180px;width=200px;">{{ mp.owner_name }} - <span style="font-weight:normal;font-size:8pt;">{{ mp.owner_status }}</span></div></div>
    {% if content_up %}<h1>content_up.title</h1>{{ content_up.text }}{% endif %}
    <h1 style="text-align: center;">{{ mp.owner_maintitle }}</h1>
    {{ mp.owner_maintext }}
    <div style="margin:10;">
      <div style="float:left;"><a class="light" href="/guida_turistica.pdf"><img src="/pdf.png" width="36"/> {{ mp.url_name_license }}</a></div>
      <div style="float:left;margin:10;">
        <a class="light" href="/italy">- {{ mp.url_name_italy }}</a><br>
        <a class="light" href="/translate">- {{ mp.url_name_translate }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content_down %}
{% if note %}
<div id="content-down" align="justify">
  {% if note.image != "0" %}
  <img src="{{ note.image }}" width="150px" align="left" vspace="5" style="margin-top:24px;margin-right:10px;border='solid 1px #333;'"/>
  {% endif %}
  <h1>{{ note.title }}</h1><div class="note_place"><a href="/notes">{{ mp.url_name_notes }}</a></div>
  {{ note.date }} - {{ note.text }}
</div>
{% endif %}
{% if shop %}
<div id="content-down" align="justify">
  {% if shop.image != "0" %}
  <img src="{{ shop.image }}" width="150px" align="left" vspace="5" style="margin-top:24px;margin-right:10px;border='solid 1px #333;'"/>
  {% endif %}
  <h1>{{ shop.title }}</h1><div class="note_place"><a href="/shops">{{ mp.url_name_shops }}</a></div>
  {{ shop.text }}
</div>
{% endif %}
{% if transport %}
<div id="content-down" align="justify">
  {% if transport.image != "0" %}
  <img src="{{ transport.image }}" width="150px" align="left" vspace="5" style="margin-top:24px;margin-right:10px;border='solid 1px #333;'" />
  {% endif %}
  <h1>{{ transport.title }}</h1><div class="note_place"><a href="/transport">{{ mp.url_name_transport }}</a></div>
  {{ transport.text }}
</div>
{% endif %}
  {% if excursion_list %}
  {% for excursion in excursion_list %}
  {% endfor %}
  {% endif %}
{% endblock %}

