{% extends "base_with_ex.html" %}

{% block content_down %}
{% if content_list %}
  {% for note in content_list %}
    <div id="content-down" align="justify" style="width:640px;">
      {% if note.image != "0" %}
      <img src="{{ note.image }}" width="150px" align="left" vspace="5" style="margin-top:24px;margin-right:10px;"/>
      {% endif %}
      <h1>{{ note.title }}</h1><div class="note_place">{{ content_name }}</div>
      {{ note.date }} - {{ note.text }}
    </div>
  {% endfor %}  
{% else %}    
    <div id="content-down" align="justify" style="width:640px;">
      {{ content_no }}
    </div>
{% endif %}

{% endblock %}