{% extends "base_with_ex.html" %}

{% block content_down %}
{% if recomendations_list %}
  {% for recomendation in recomendations_list %}
    <div id="content-down" align="justify">  
      {% if recomendation.image != "0" %}
      <img src="{{ recomendation.image }}" width="150px" height="auto" align="left" vspace="5" style="margin-top:24px;margin-right:10px;"/>
      {% endif %}
      <h1>{{ recomendation.name }}</h1><div class="note_place">Отзывы</div>
      {{ recomendation.date }} - {{ recomendation.text }}
    </div>
  {% endfor %}
{% endif %}
{% endblock %}