{% extends "base_with_ex.html" %}

{% block style %}
  TABLE {
    background: #fff; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    width: 600px;
   }
  TD {
    background: #009900; /* Цвет фона ячеек */
  }
{% endblock %}

{% block content_down %}
{% if transfers_list %}
  {% for transfer in transfers_list %}
    <div id="content-down" align="justify">  
      <img src="{{ note.image }}" width="150px" height="auto" align="left" vspace="5" style="margin-top:24px;margin-right:10px;"/>
      <h1>{{ transfer.title }}</h1><div class="note_place">Трансферы</div>
      {{ transfer.date }} - {{ transfer.text }}
    </div>
  {% endfor %}
{% endif %}
<h1>Трансферы</h1>
<div>Предлагаем вам воспользоваться услугами аренды машины с водителем в Италии - заказать трансфер до места вашего назначения. Вы также можете воспользоваться услугами аренды машины с водителем и ассистентом для деловых поездок по Италии. Cтоимость указана за трансфер в одну сторону в евро.</div>
<div id="content-down" align="justify">
  <table cellpadding="4" cellspacing="1">
    <tr>
      <td>Направление</td>
      <td>Мерседес класс E мaкс. 2 чел.</td>
      <td>Микроавтобус Мерседес V 3- 8 чел.</td>
      <td>Мерседес класс S 320 мaкс. 2 чел.</td>
      <td>Автобус 8-15 чел.</td>
    </tr>
    <tr>
      <td>Ж.-д. вокзал Теrmini – гостиница в центре</td>
      <td>50</td>
      <td>70</td>
      <td>170</td>
      <td>170</td>
    </tr>
    <tr>
      <td>Аэропорт «Fiumicino» – гостиница в центре</td>
      <td>70</td>
      <td>90</td>
      <td>230</td>
      <td>230</td>
    </tr>
    <tr>
      <td>Аэропорт «Ciampino» – гостиница в центре</td>
      <td>90</td>
      <td>150</td>
      <td>230</td>
      <td>250</td>
    </tr>
    <tr>
      <td>Рим – порт «Civitavecchia»</td>
      <td>160</td>
      <td>180</td>
      <td>350</td>
      <td>350</td>
    </tr>
    <tr>
      <td>Рим – Флоренция* – 286 км</td>
      <td>650</td>
      <td>700</td>
      <td>1500</td>
      <td>900</td>
    </tr>
    <tr>
      <td>Рим – Неаполь* – 230 км</td>
      <td>600</td>
      <td>650</td>
      <td>1350</td>
      <td>800</td>
    </tr>
    <tr>
      <td>Рим – Флоренция с остановкой в Сиене</td>
      <td>800</td>
      <td>900</td>
      <td>1500</td>
      <td>1000</td>
    </tr>
  </table>
</div>
<div id="content-down" align="justify"><h2>Стоимость услуг русскоговорящего сопровождения на трансферах</h2>
  <table width="710px">
    <tr>
      <td>Услуги</td>
      <td>Цены/евро</td>
    </tr>
    <tr>
      <td>Ж.-д. вокзал – гостиница в центре</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Аэропорт «Fiumicino» – гостиница в центре</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Аэропорт «Ciampino» – гостиница в центре</td>
      <td>120</td>
    </tr>
    <tr>
      <td>Рим – порт «Civitavecchia»</td>
      <td>150</td>
    </tr>
    <tr>
      <td>Рим – Флоренция – 286 км</td>
      <td>400</td>
    </tr>
    <tr>
      <td>Рим – Неаполь – 230 км</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Дополнительный час</td>
      <td>40</td>
    </tr>
  </table>
</div>
{% endblock %}