{% extends "base_with_ex.html" %}

{% block content_down %}
{% if db_t %}
    <div id="content-down" align="justify" style="width:640px;">
      <h1>Услуги переводчика</h1>
      {{ db_t }}
    </div>
{% else %}    
    <div id="content-down" align="justify" style="width:640px;">
      Эта страница находится в разработке...
    </div>
{% endif %}

<div style="float:left;border-top: 1px dashed #363636;padding-top:20px;"> 

<p>5 декабря 2011 г.</p>
<p>Работа на семинаре-обучении группы руководителей и специалистов Дирекции скоростного сообщения
Российской академии путей сообщения Московского государственного университета путей сообщения (МИИТ).</p>

<a href="/images/DSC_0156.jpg" style="float:left;width:300px;margin-right:5px;margin-bottom:5px;"><img src="/images/DSC_0156_mini.jpg"/></a>
<a href="/images/DSC02087.jpg" style="float:left;width:300px;margin-right:5px;margin-bottom:5px;"><img src="/images/DSC02087_mini.jpg"/></a>
<div style="float:left;width:300px;margin-right:5px;margin-bottom:5px;">
  <a href="/images/DSC02088.jpg" ><img src="/images/DSC02088_mini.jpg" style="margin-bottom:5px;"/></a>
  <a href="/images/DSC02180.jpg" ><img src="/images/DSC02180_mini.jpg"/></a>
</div>
<a href="/images/DSC02091.jpg" style="float:left;width:300px;margin-right:5px;margin-bottom:15px;"><img src="/images/DSC02091_mini.jpg"/></a>
<a href="/images/DSC02231.jpg" style="float:left;width:300px;margin-right:5px;margin-bottom:5px;"><img src="/images/DSC02231_mini.jpg"/></a>
<a href="/images/DSC02232.jpg" style="float:left;width:300px;margin-right:5px;margin-bottom:5px;"><img src="/images/DSC02232_mini.jpg"/></a>
<a href="/images/DSC02234.jpg" style="float:left;width:300px;margin-right:5px;margin-bottom:5px;"><img src="/images/DSC02234_mini.jpg"/></a>

</div>

{% endblock %}

