{% extends "articles/base.html" %}

{% block style %}
{% endblock %}

{% load project_options %}
{% load articles_tags %}

{% block right %}
<div id="right">
<div id="list"><ul>
  {% articles_list "Excursion" %}

  <!--li><a class="bordered papered" href="/excursion/{{ forloop.counter }}" {% if excursion.button_image != '0' %}style="height:50;background-image: url('/{{ excursion.button_image }}');"{% endif %}><span class="lefted {% if excursion.button_image != '0' %}papered{% endif %}">{{ forloop.counter }}. {{ excursion.title }}</span>{% if excursion.title_time != '0' %} - <span class="rounded time">{{ excursion.title_time }}</span>{% endif %}</a></li-->
</ul></div>

<span style="font-weight:bold;">{% project_option "owner_friends_title" %}:</span>
<div id="friends"><ul>
  <li><a class="bordered" href="http://www.florenceguide.ru/" style="background-image: url('/tatiana_matushko.jpg');color:#fff;"><span class="lefted papered">Татьяна Матюшко - Экскурсии по Флоренции</span></a></li>
  <li><a class="bordered" href="http://www.russianflorence.com/" style="background-image: url('/tatiana_usova.jpg');color:#fff;"><span class="lefted papered">Татьяна Усова - Экскурсии по Флоренции</span></a></li>
  <li><a class="bordered" href="http://www.guidaavenezia.com/ru/contatti_ru.htm" style="background-image: url('/guida_turistica.jpg');color:#fff;"><span class="lefted papered">Гид в Венеции</span></a></li>
  <li><a class="bordered" href="http://www.interhome.ru" style="background-image: url('/interhome.jpg');color:#fff;"><span class="lefted papered">Туристическая компания</span></a></li>
</ul></div>
</div>
{% endblock %}