{% extends "articles/base.html" %}

{% block style %}{% endblock %}

{% load project_options %}
{% load articles_tags %}

{% block right %}
<div id="right">
<div id="list"><ul>
  {% articles_list "excursion" %}

  <!--li><a class="bordered papered" href="/excursion/{{ forloop.counter }}" {% if excursion.button_image != '0' %}style="height:50;background-image: url('/{{ excursion.button_image }}');"{% endif %}><span class="lefted {% if excursion.button_image != '0' %}papered{% endif %}">{{ forloop.counter }}. {{ excursion.title }}</span>{% if excursion.title_time != '0' %} - <span class="rounded time">{{ excursion.title_time }}</span>{% endif %}</a></li-->
</ul></div>

<span style="font-weight:bold;">{% project_option "owner_friends_title" %}:</span>
<div id="friends"><ul>
  {% articles_list "friend" %}
</ul></div>
</div>
{% endblock %}