{% extends "articles/base_with_ex.html" %}

{% load project_options %}
{% load articles_tags %}

{% block content_up %}
<div id="content-up" class="main-info-wrap" align="justify">
  <div id="olga_info">
    <div class="foto_with_podpis"><div class="rounded_up main_photo"></div><div class="podpis main_podpis"><span class="podpis_name">{% project_option "owner_name" %} </span>- <span class="podpis_text">{% project_option "owner_status" %}</span></div>
   
	</div>
    <h1>{{ flatpage.title }}</h1>{{ flatpage.content|safe }}
    <div class="about_info_links">
            <ul>		   
            <li><a class="light_with_icon" href="/guida_turistica.pdf">
                 <img src="/images/pdf-ico.png" class="about_icon" width="32" style="width:32px;" alt="" /> {% project_option "url_name_license" %}
            </a></li>
            <li><a class="light_with_icon" href="/italy">
			     <img src="/images/excursions-ico.png" class="about_icon" width="32" style="width:32px;" alt="" />{% project_option "url_name_italy" %}
			</a></li>
            <li><a class="light_with_icon" href="/translate">
			     <img src="/images/translate-ico.png" class="about_icon" width="32" style="width:32px;" alt="" />{% project_option "url_name_translate" %}
			</a></li>
            </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content_down %}

{% last_article "note" %}
{% random_article "shop" %}
{% random_article "transport" %}

{% endblock %}
