{% extends "articles/base_with_ex.html" %}

{% load project_options %}
{% load articles_tags %}

{% block content_up %}
<div id="content-up" align="justify" style="margin-top=-10px;border='solid 10px #333';">
  <div id="olga_info" style="margin-top:-15px;">
    <div class="foto_with_podpis"><div class="rounded_up main_photo"></div><div class="podpis main_podpis">{% project_option "owner_name" %} - <span class="podpis_text">{% project_option "owner_status" %}</span></div></div>
    <h1>{{ flatpage.title }}</h1>{{ flatpage.content|safe }}
    <div class="about_info_links">
      <div class="license_icon"><a class="light" href="/guida_turistica.pdf">
        <img src="/pdf.png" class="pdf_icon" width="36" style="width:36px;" alt="{% project_option "url_name_license" %}" /> {% project_option "url_name_license" %}</a></div>
      <div class="others_links">
        <a class="light" href="/italy">- {% project_option "url_name_italy" %}</a><br>
        <a class="light" href="/translate">- {% project_option "url_name_translate" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content_down %}

{% last_article "note" %}
{% random_article "shop" %}
{% random_article "transport" %}

{% endblock %}
