{% extends "articles/base_with_ex.html" %}
{% load project_options %}
{% block style %}{% endblock %}
{% block content_down %}
<div class="ex_div bordered">
  {% block list_content %}
  <p><h1>{{ flatpage.title }}<!-- if excursion.title_time != '0' %7} - {7{ excursion.title_time }7}{7% endif --></h1>
      {{ flatpage.content|safe }}
  </p>
  {% endblock %}
  {% block content_down_adding %}{% endblock%}
  <div class="return-main_wrap">
    <a href="/"><div class="menu_url">&nbsp; {% project_option "to_main_text" %} &nbsp;</div></a>
  </div>
</div>
<div style="padding-left:20px;padding-bottom:20px;text-align:center;"></div>
{% endblock %}