html, body {
  height: auto;
  width: 100%;
  min-width: 1000px;
  margin: 0;
  background: #eee url('paper_white.jpg');
  font: 0.92em Arial,sans-serif;
  line-height: 1.4;
  color: black;
}
#main {
  width: 1000px;
  height: auto;
  left: 50%;
  margin-left: -500px;
  position: relative;
  float: left;
}
a {
  color: #007700;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
}
#header {
  width: 100%;
  height: 121px;
  position: relative;
  margin: 10px 0 10px;
  margin= 10px 0 10px; /* for IE */
  border= solid 1px #777; /* for IE */
  border-radius: 10px;
  -moz-border-radius: 10px;  /* для firefox */
  -webkit-border-radius: 10px;  /* для Safari и Chrome */
  behavior4: url("border_radius.htc"); /* для IE */

  -moz-box-shadow: 3px 3px 15px #000;
  -webkit-box-shadow: 3px 3px 15px #000;
  box-shadow: 3px 3px 15px #000;
}
#header-left {
  width: 33%;
  height: 121px;
  background: #009900 url("rim-kolizey-fon.png");
  position: relative;
  float: left;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;  /* для firefox */
  -webkit-border-radius: 10px 0 0 10px;  /* для Safari и Chrome */
  behavior4: url("border_radius.htc"); /* для IE */
}
#header-top {
  width: 34%;
  height: 121px;
  background: #ffffff;
  position: relative;
  float: left;
  text-align: center;
}
.podpis {
  color:#fff;padding:0 10px 0 10px;font-weight:bold;background:#009900;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;  /* для firefox */
  -webkit-border-radius: 0 0 10px 10px;  /* для Safari и Chrome */
  behavior4: url("border_radius.htc"); /* для IE */
}
@font-face {
  font-family: "Super Font";
  src: url("ds_stamper.ttf");
  font-size: 11pt;
}
h1 {
  text-align: left;
}
.note_place {
  text-align:right;margin-top:-40px;float:right;width:auto;
}
#header-top h1 {
  font-family: "Super Font", "Arial", "Courier";
  font-family= "Arial", "Courier", "Times New Roman";
  font-size: 44px;
  text-transform: uppercase;
  color: #009900;
  text-shadow: 0px 2px 3px #666;
  text-align: center;
}
#header-right {
  width: 33%;
  height: 121px;
  background: #ff0000;
  position: relative;
  float: left;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;  /* для firefox */
  -webkit-border-radius: 0 10px 10px 0;  /* для Safari и Chrome */
  behavior4: url("border_radius.htc"); /* для IE */
  color: #990000;
  box-shadow: 0px 2px 3px #666;
  background: -moz-linear-gradient(top, #ff0000, #dd0000);
  background: -webkit-gradient(linear, left top, right bottom, from(#ff0000), to(#dd0000));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff0000, endColorstr=#dd0000);
}
#header-right a {
  color: #770000;
}
#menu {
  width: 100%;
  height: 40px;
  background: #dd7777;
  position: relative;
  border-radius: 10px;
}
#menu .menu {
  float: left;
  width: 30%;
  position: relative;
  padding: 10px;
}
#base {
  width:100%;
  height:auto;
  position:relative;
  float:left;
  background5:#333333;
}
#content {
  width: auto;
  height: auto;
  background4: #ffffff;
  position: relative;
  float: left;
  margin5: 10px 410px 10px 0px;
  margin: 10px 350px 10px 0px;
}
#content IMG {
  border-radius: 10px;
  -moz-border-radius: 10px;  /* для firefox */
  -webkit-border-radius: 10px;  /* для Safari и Chrome */
  behavio5: url("border_radius.htc"); /* для IE */
}
#content-up {
  width: auto;
  height: auto;
  background7: #000033 url("rim-fon-7.jpg");
  background5: #000033 url("kolizey-2.jpg");
  background4: #000033 url("main_fon.png");
  background: #000033 url("paper_yellow.jpg");
  position: relative;
  float: left;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;  /* для firefox */
  -webkit-border-radius: 10px;  /* для Safari и Chrome */
  behavior5: url("border_radius.htc"); /* для IE */
  color: #ffffff;
dd: #fb9904;
  -moz-box-shadow: 3px 3px 15px #000;
  -webkit-box-shadow: 3px 3px 15px #000;
  box-shadow: 3px 3px 15px #000;
}
.rounded {
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;  /* для firefox */
  -webkit-border-radius: 10px;  /* для Safari и Chrome */
  behavior5: url("border_radius.htc"); /* для IE */
}
.bordered {
  border: solid 1px #333;
}
.rounded-left {
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;  /* для firefox */
  -webkit-border-radius: 10px;  /* для Safari и Chrome */
  behavior5: url("border_radius.htc"); /* для IE */
}
#content-down {
  width: auto;
  height: auto;
  position: relative;
  float: left;
  border-radius: 10px;
  margin: 5px;
  padding: 0px;
}
#list {
  width: 320px;
  width= 340px;
  height: auto;
  position: relative;
  float: left;
  margin: 10px 0px 10px -340px;
  padding: 0px 10px 0;
  color: #9d5b0e;
}
#list h2 {
  text-align: center;
}
#list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#list ul li a, #list ul li a:visited {
  display: block;
  padding: 5px;
  margin-right: 1px;
  color: #fff;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  background: #aaa url("ex-li-fon-2.png");
  border-radius: 10px;
  -moz-border-radius: 10px;  /* для firefox */
  -webkit-border-radius: 10px;  /* для Safari и Chrome */
  behavior5: url("border_radius.htc"); /* для IE */
  height: 50px;
  margin-bottom: 5px;
}
#list ul li a:hover {
  color: #fff;
  background-color: #9d5b0e;
  margin-left: -20px;
  width: 360px;
  margin-left= 0px; /*for IE*/
  width= 100%; /*for IE*/
}
#list ul li a span {
  background6: #009900 url("paper_green.jpg");
  background4: #333333;
  color5: #ff0000;
}
  
#footer {
  color: #fff;
  background: #009900;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;  /* для firefox */
  -webkit-border-radius: 10px;  /* для Safari и Chrome */
  behavior4: url("border_radius.htc"); /* для IE */
  text-align: justify;
  float: left;
  height: auto;
  width: 100%;
  padding8: 10px;
  padding-right5: 0px;
  padding-left5: 0px;
  margin-bottom: 10px;
  -moz-box-shadow: 3px 3px 15px #000;
  -webkit-box-shadow: 3px 3px 15px #000;
  box-shadow: 3px 3px 15px #000;
  background: #009900 -moz-linear-gradient(top, #009900, #007700);
background: #009900 -webkit-gradient(linear, left top, left bottom, from(#009900), to(#007700));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#009900, endColorstr=#007700);
}
#footer p {
  padding-right: 10px;
  padding-left: 10px;
}

ul.mainmenu, ul.mainmenu_2 {
  padding: 0;
  padding-left: 0px;
  margin: 0;
  margin-top: -26px;
  list-style: none;
  width: 100%;
  position: relative;
  float: left;
  font-weight: bold;
}
ul.mainmenu_2 {
  left: 33%;
}
ul.mainmenu li, ul.mainmenu_2 li {
  float: left;
}
ul.mainmenu li a, ul.mainmenu li a:visited {
  display: block;
  padding: 5px;
  margin-right: 1px;
  color: #fff;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
ul.mainmenu_2 li a, ul.mainmenu_2 li a:visited {
  color: #999999;
  display: block;
  padding: 5px;
  margin-right: 1px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
ul.mainmenu li a:hover {
  border-radius: 10px 0 10px 0;
  -moz-border-radius: 10px 0 10px 0;  /* для firefox */
  -webkit-border-radius: 10px 0 10px 0;  /* для Safari и Chrome */
  behavior5: url("border_radius.htc"); /* для IE */
  color: #99ff99;
  background-color: #00bb00;
  background: -moz-linear-gradient(top, #00bb00, #009900);
  background: -webkit-gradient(linear, left top, left bottom, from(#00bb00), to(#009900));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00bb00, endColorstr=#009900);
  margin-top: -8px;
  height: 24px;
}
ul.mainmenu_2 li a:hover {
  border-radius: 10px 0 10px 0;
  -moz-border-radius: 10px 0 10px 0;  /* для firefox */
  -webkit-border-radius: 10px 0 10px 0;  /* для Safari и Chrome */
  behavior5: url("border_radius.htc"); /* для IE */
  color: #999;
  background-color: #eee;
  background: -moz-linear-gradient(top, #eee, #fff);
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eee, endColorstr=#fff);
  margin-top: -8px;
  height: 24px;
}
.foto {
    width: auto;
    height: auto;
    background5: #000033 url("kolizey-2.jpg");
    position: relative;
    float: left;
    padding5: 10px;
    margin-right: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;  /* для firefox */
    -webkit-border-radius: 10px;  /* для Safari и Chrome */
    behavior5: url("border_radius.htc"); /* для IE */
    color: #ffffff;
dd: #fb9904;
    -moz-box-shadow6: 3px 3px 15px #000;
    -webkit-box-shadow6: 3px 3px 15px #000;
    box-shadow6: 3px 3px 15px #000;
  }

.foto_with_podpis {
    width: auto;
    height: auto;
    position: relative;
    float: left;
    margin-right: 10px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0; /* для firefox */
    -webkit-border-radius: 10px 10px 0 0; /* для Safari и Chrome */
    behavior4: url("border_radius.htc"); /* для IE */
}

.foto_with_podpis IMG {
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0; /* для firefox */
    -webkit-border-radius: 10px 10px 0 0; /* для Safari и Chrome */
    behavior4: url("border_radius.htc"); /* для IE */
}

.shadowed {
  -moz-box-shadow: 3px 3px 15px #000;
  -webkit-box-shadow: 3px 3px 15px #000;
  box-shadow: 3px 3px 15px #000;
}
